:root {
    --radius: 0.35rem;
}

body {
    background-image: url("background.jpg");
    background-size: cover;
    background-position: center;
}

h1,
h2 {
    color: white;
}

h2 {
    margin-bottom: 1rem;
}

img {
    max-width: 100%;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--radius);
}

.acryl,
.offcanvas-lg {
    background-color: rgba(0, 0, 0, 0.8);
    background-blend-mode: exclusion;
    backdrop-filter: blur(24px);
    background-image: url("noise.png");
}

#nav {
    min-width: 400px;
    max-height: 100vh;
    overflow-y: auto;
}

.list-group-item {
    display: flex;
    gap: 0.75rem;

    width: unset;

    border: 0;
    margin: 0 0.75rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;

    background-color: transparent;
    color: white;
    border-radius: var(--radius);
}

.list-group-item-action:hover {
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
}

.material-icons {
    min-width: 24px;
}

.btn-fab {
    width: 78px;
    height: 78px;

    position: fixed;
    bottom: 24px;
    right: 24px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    padding: 0;
}

.btn-fab .material-icons {
    font-size: 36px;
}

#content {
    margin-bottom: calc(78px + 24px - 1rem);
}

#content h1 {
    display: none;
}

#content hr {
    /* Hiba a háttérrel */
    display: none;
}

#content>:not(h2) {
    background-color: white;
    padding: 0 1rem;
}

#content :is(p, ul, ol) {
    margin-bottom: 0;
    padding-bottom: 1rem;
}

#content :is(h3, h4) {
    margin-bottom: 0;
    padding-bottom: 0.75rem;
}

#content :is(ol, ul) {
    padding-left: 3rem;
}

/* Top edge */
#content>:nth-child(2),
#content>h2+* {
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
    padding-top: 1rem;
}

/* Bottom edge */
#content>:has(+ h2),
#content>:last-child {
    border-bottom-left-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
    padding-bottom: 1rem;

    margin-bottom: 2rem;
}

.modal-header {
    border-bottom: 0;
}

.input-group-text,
.form-control {
    background-color: transparent;
    border: none;
}

@media screen and (min-width: 992px) {
    #nav {
        max-height: 100vh;
        position: sticky;
        top: 0;
    }

    .offcanvas-lg {
        background: none;
        backdrop-filter: none;
    }
}